.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: 100vh;
  position: relative;
}

footer{
  margin-top: 25px;
}


.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/carousel-1.jpg'); /* Ganti 'alamat-gambar-anda.jpg' dengan URL gambar yang Anda inginkan */
  background-size: cover;
  filter: blur(5px); /* Mengatur efek blur */
  z-index: -1;
}
@media (max-width: 768x) {
  .h-custom {
    height: 100%;

  }
}
